{
  "extends": "standard",
  "env": {
      "browser": true,
  },
  "globals": {
      "THREE": false,
      "THREEx": false,
      "TWEEN": false,
      "Physijs": false,
      "createjs": false,
      "dat": false,
      "Stats": false,
      "chroma": false,
  }
}
